{% extends 'base.html' %}


{% block title %}
	User Management
{% endblock %}



{% block content %}
    <table>
        <tr>
            <th>Name</th>
            <th>Role</th>
        </tr>
        <tr>
            <td>Michael Wong</td>
            <td>Project Manager</td>
        </tr>
        <tr>
            <td>Dharma Yuda</td>
            <td>Secretary</td>   
        </tr>
		<tr>
			<td>Reynald</td>
            <td>Database and UI/UX</td>
		</tr>
		<tr>
			<td>Vicenzo</td>
            <td>Database and UI/UX</td>
		</tr>
		<tr>
			<td>Freonanda Purnomo</td>
            <td>Programmer</td>
		</tr>
		<tr>
			<td>Alfons</td>
            <td>Programmer</td>
		</tr>
    </table>
{% endblock %}